<div class="container-fluid ">
    <div class="row header-block">
        <div class="col-lg-5 col-sm-12">
                        <div class="jumbotron header-jumbotron">
                        <h1 class="brand-heading mb-5">ed/u</h1>
                        <h3 class="lead heading-headline mb-3">The best investment you will ever make</h3>
                        <p class="heading-subtext mb-5">Skills based micro-degrees guaranteed to get you a job*</p>
                        <form class="form-inline">
                        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Your Email">

                        <button type="submit" class="btn btn-primary mb-2">Let's Go</button>
                        </form>
                        </p>
                        <p class="header-footnote">*seriously. Check out our job guarantee here.</p>
                    </div>
                
                
         
        </div>
        
    </div>
    

		<div class="row">
				<div class="col-12 content-block-course">
						<div class="row">
								<div class="col-md-6 offset-md-3 col-sm-12 mb-5 text-center">
										<h2 class="large-heading mx-5">Industry led credentials.</h1>
										<h5 class="mx-2">Gain in demand skills from leaders in the field with our unique project based approach.</h5>
								</div>
						</div>

						<div class="row">
							<div class="col-lg-3 col-3 col-sm-12">
								<div class="card text-center">
									<div class="card-body">
										<h5 class="card-title text-align-center my-3">Cybersecurity for Finacial Services</h5>
										<p class="card-text card-sub-text mx-2">Learn how to defend systems against attack. Build a career in cyber-security.</p>
										<p class="card-text font-weight-bold mt-4">Partners</p>
										<div class="card-logos mb-3">
											<%= image_tag  "CBA.png", class: "img-fluid card-logo mx-1" %>
											<%= image_tag  "Stripe.png", class: "img-fluid card-logo mx-1" %>
										</div> 
										<a href="#" class="card-link btn btn-primary btn-sm btn-card mx-1">Learn More</a>
									</div>
								</div>
							</div>

							<div class="col-lg-3 col-3 col-sm-12">
								<div class="card text-center">
									<div class="card-body">
										<h5 class="card-title text-align-center my-3">Machine Learning for manufacturing</h5>
										<p class="card-text card-sub-text mx-2">Build smart manufacturing systems and processes that adapt to change.</p>
										<p class="card-text font-weight-bold mt-4">Partners</p>
										<div class="card-logos mb-3">
											<%= image_tag  "Toyota.png", class: "img-fluid card-logo mx-1" %>
											<%= image_tag  "google.png", class: "img-fluid card-logo mx-1" %>
										</div> 
										<a href="#" class="card-link btn btn-primary btn-sm btn-card mx-1">Learn More</a>
									</div>
								</div>
							</div>	

							<div class="col-lg-3 col-3 col-sm-12">
								<div class="card text-center">
									<div class="card-body">
										<h5 class="card-title text-align-center my-3">Business Analytics</h5>
										<p class="card-text card-sub-text mx-2">Learn to run a lean analytics engine for modern organisations that leads to better decision making.</p>
										<p class="card-text font-weight-bold mt-4">Partners</p>
										<div class="card-logos mb-3">
											<%= image_tag  "DOMO.png", class: "img-fluid card-logo mx-1" %>
											<%= image_tag  "VU.png", class: "img-fluid card-logo mx-1" %>
										</div> 
										<a href="#" class="card-link btn btn-primary btn-sm btn-card mx-1">Learn More</a>
									</div>
								</div>
							</div>	

							<div class="col-lg-3 col-3 col-sm-12">
								<div class="card text-center">
									<div class="card-body">
										<h5 class="card-title text-align-center my-3">Full Stack Developer</h5>
										<p class="card-text card-sub-text mx-2">Learn to create web and mobile online experiences using leading technologies such as rails, react, NodeJS and much more.</p>
										<p class="card-text font-weight-bold mt-4">Partners</p>
										<div class="card-logos mb-3">
											<%= image_tag  "rea.png", class: "img-fluid card-logo mx-1" %>
											<%= image_tag  "atl.png", class: "img-fluid card-logo mx-1" %>
										</div> 
										<a href="#" class="card-link btn btn-primary btn-sm btn-card mx-1">Learn More</a>
									</div>
								</div>
							</div>	

						</div>

						<div class="row">
								<div class="col-md-6 offset-md-3 col-sm-12 mb-5 text-center">
										<h5 class="my-5"><%= link_to "See Our Course Library", root_path %></h5>
								</div>
						</div>
				</div>
				

		</div>


		<div class="row">
				<div class="col-12 content-block-student">
					<div class="row">
						<div class="col-lg-4 offset-lg-2">
							<p class="student-subtext mb-3">Student Story</p>
							<h2 class="student-headline mb-2">Amber Lee</h2>
							<p class="student-text">“Ed/u completly transformed my career. The mentors were out of this world and the project based learning mean’t i could go direct to industry partners with real work. I was offered 3 jobs before finishing.”</p>
							<button class="btn btn-primary btn-card">Learn More</button>
						</div>

						<div class="col-6">
						<%= image_tag "amber.png", class: "img-fluid student-image" %>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row block-how-it-works">
			<div class="col-12 block-headings">
							<h3 class="lead heading-how-works mb-3 text-align-center">How It Works</h3>
							<p class="subheading-how-it-works my-3 ">Thrive in an immersive learning environment that brings together leading academics and industry visionaries.</p>
					<div class="row">
							<div class="container">
								<div class="row learning-block">
									<div class="col-6">
										<h2 class="block-title">Immersive learning</h2>
											<hr class="block-hr">
										<p class="block-description">Hands-on learning, interactive content, measurable progress.</p>

									</div>

									<div class="col-6">
										<%= image_tag "immersive.png", class: "img-fluid" %>
									</div>
									
								</div>
							</div>
					</div>

					<div class="row">
							<div class="container">
								<div class="row learning-block">
									<div class="col-6">
										<h2 class="block-title">Real Projects</h2>
											<hr class="block-hr">
										<p class="block-description text-align-right">Work on real world problems with our project based cirriculum. Build a portfolio of expert reviewed projects.</p>

									</div>

									<div class="col-6">
										<%= image_tag "projects.png", class: "img-fluid" %>
									</div>
									
								</div>
							</div>
					</div>

					<div class="row">
							<div class="container">
								<div class="row learning-block">
									<div class="col-6">
										<h2 class="block-title">Career Services</h2>
											<hr class="block-hr">
										<p class="block-description text-align-right">Getting the skills is the first step, Selling your sell is next. We coach and mentor you to use your profile and new skills to shine in the job-market.</p>

									</div>

									<div class="col-6">
										<%= image_tag "careers.png", class: "img-fluid" %>
									</div>
									
								</div>
							</div>
					</div>


					<div class="row">
							<div class="container">
								<div class="row learning-block">
									<div class="col-6">
										<h2 class="block-title">Supported Learning</h2>
											<hr class="block-hr">
										<p class="block-description text-align-right">We don’t do  distinctions here. You either have the skills or you don’t and our mentors are industry experts who are there to support you all the way.</p>

									</div>

									<div class="col-6">
										<%= image_tag "supported.png", class: "img-fluid" %>
									</div>
									
								</div>
							</div>
					</div>

				</div>
		

		</div>
    
			<div class="row content-block-cta">
				<div class="col-12">
				
					<h1 class="mb-2">ed/u</h1>
					<h3 class="mb-3">The best investment you will ever make</h3>
					<form class="form-inline">
						<input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Your Email">
						<button type="submit" class="btn btn-primary mb-2">Let's Go</button>
            </form>
					

				</div>
				
			</div>

		


</div>